<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>БлокВидео</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Blockvideo/BlockVideo.css') }}">
</head>
<body>
<div class="base-container" id="base">

    <div class="base-header">
        <div class="title-group">
            <img src="/static/Blockvideo/icons/roll.svg" alt="icon">
            <img src="/static/Blockvideo/icons/Palka.svg" alt="icon">
            <img src="/static/Blockvideo/icons/video.svg" alt="icon">
            <a href="/ui-ui-a" class="title-text">Видео-лекция</a>
        </div>

        <label class="checkbox-wrapper">
            <input type="checkbox" />
            <span class="checkbox"></span>
        </label>
    </div>

    <div class="base-below">
        <label class="user">user</label>
        <label class="data">data</label>
    </div>

</div>
</body>
</html>
