<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>БлокОснРаботы </title>
</head>
<body>
<div class="base-container" id="base">
        <div class="base-header">
            Лабараторная работа №1
            <label class="checkbox-wrapper">
                        <input type="checkbox" />
                        <span class="checkbox"></span>
            </label>
        </div>
        <div class="base">

        </div>
        <div class="base-below">
            <label class="user">
                user
            </label>
            <label class="data">
                data
            </label>
        </div>

    </div>
</body>
</html>