<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блок файлов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BlockFiles/BlockFiles.css') }}">
</head>
<body>
    <div class="BlockFiles-container" id="infoBox">
        <div class="info-header" onclick="toggleInfo()">
            Файлы для выполнения
        </div>
        <ul class="info-list">
            {% if files and files|length > 0 %}
                {% for file in files %}
                <li>
                    <div class="file-actions">
                            {% if file.url %}
                                <div class="file-info">
                                    <a class="file-name" href="{{ file.url }}">{{ file.desc }}</a>
                                    <span class="file-modified">(Последнее изменение: {{ file.last_modified }})</span>
                                </div>
                            {% else %}
                                <div class="file-info">
                                    <span class="missing">Файл не найден</span>
                                </div>
                            {% endif %}
                        <label class="checkbox-wrapper">
                            <input type="checkbox" name="selected_files" value="{{ file.system_path }}" />
                            <span class="checkbox"></span>
                        </label>
                    </div>
                </li>
                {% endfor %}
            {% else %}
                <li class="empty">Файлы не найдены.</li>
            {% endif %}
        </ul>
    </div>
</body>
</html>