<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://e.mospolytech.ru/icon.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <title>СДО - Панель управления</title>
</head>
<body>
    <header>
        <img class="logo-4d9aa449" src="https://e.mospolytech.ru/assets/logo-4d9aa449.png">
        <form class="logout-form" method="post" action="{{ url_for('logout') }}">
            <button type="submit">🔒 Выйти</button>
        </form>
    </header>
    <div class="dashboard">
        <h2> Добро пожаловать, {{ username }}!</h2>
    </div>
    <div class="flex-container-1">
        <a href="{{ url_for('settings') }}" class="flex-item-settings">
            <img src="{{ url_for('static', filename='images/settings-icon.png') }}" alt="">
            <p>Настройки</p>
        </a>
        <a href="#" class="flex-item-profile">
            <img src="{{ url_for('static', filename='images/profile-icon.png') }}" alt="">
            <p>Профиль</p>
        </a>
        <a href="{{ url_for('courses') }}" class="flex-item-course">
            <img src="{{ url_for('static', filename='images/course-ico.svg') }}" alt="">
            <p>Курс</p>
        </a>
        <a href="{{ url_for('admin.admin_index') }}" class="flex-item-admin">
            <img src="{{ url_for('static', filename='images/course-ico.svg') }}" alt="">
            <p>Админка</p>
        </a>
    </div>
    <div class="lesson-info">
        <h2>{{ lesson_name }}</h2>
        <p>{{ lesson_lecturer_name }}</p>
        <p>{{ lesson_time }}</p>
    </div>
    <footer>
        <small>© 2025 Система дистанционного обучения</small>
    </footer>
</body>
</html>
